
<%- include('../header'); -%>

<%- include('../nav'); -%>
<img src="image/Portfolio-Optimization.jpg" style="width: -webkit-fill-available;margin: 11vw;margin-bottom: 0;" class="text-image" alt="Austin skyline" data-aos="zoom-in"
data-aos-duration="2000"><br><br>
                        

<div class="container-fluid" style="text-align: left;color: white;">
    <div class="row" style="margin: 10vh 0 0 0;">
        <div class="col-xs-12">
            <h1 style="color: #43cafe;">Portfolio optimization</h1><br>
            <p>
                <p>Project portfolio optimization offers the promise of generating and delivering the maximum possible business value from the company’s project portfolio. By using data and advanced analysis techniques, organizations can often generate more business value (+20%) with the same budget and resources as they can using manual processes. Project portfolio optimization stems from financial portfolio management theory and is one of the most advanced processes of project portfolio management.</p>
                <p>To optimize means to “make the best or most effective use of a situation, opportunity, or resource” (Dictionary.com). In simple terms, optimization is about doing the best we can with what we’ve got. Another way to look at is “bang for the buck”. Virtually every company has limited resources, and the goal is to generate as much business value (“bang”) with the limited resources available (“the buck”).</p>
            </p>
            <br><br>
            <p>
                <p>Optimizing a project portfolio is to construct an optimal portfolio given current limitations and constraints. Portfolio optimization heavily emphasizes the “science” of project portfolio management and is very much data driven and relies on advanced analysis. This is why our PPM maturity model includes portfolio optimization starting at level 3 maturity. Before this, most organizations simply do not have established processes to enable portfolio optimization techniques.</p>
                <p>Portfolio optimization is part of the second component of the project portfolio lifecycle, ‘Optimize Portfolio Value’. The goal of project portfolio management is to help organizations deliver maximum business value. Processes such as prioritization and managing resource capacity help us to “make the best or most effective use of human resources”. In this way, organizations can increase business value delivery. However, while these processes may help leaders to construct a ‘good’ project portfolio, it likely does not produce the best (or optimal) results. This is why portfolio optimization very  often deliver greater value with the same resources and budget. That’s powerful.</p>
            </p><br><br>
        </div>
    </div>
    <div class="row" style="margin: 4vh 0 0 0;">
        <div class="col-xs-12">
            <h1 style="color: #43cafe;">Tools</h1><br>
            <div class="fl">
               
                <ul style="margin-right: 16%;margin-bottom: 3rem;">
                    <li>Historical Efficient Frontier</li>
                    <li>Forecasted Efficient Frontier</li>
                    <li>Portfolio Optimization</li>
                    <li>Black-Litterman Model</li>
                    <li>Rolling Optimization</li>
                </ul>
               
        </div>
        </div>
    </div>
</div>




<%- include('../footer'); -%>


          <!-- highcharts -->
          <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
          <script src="https://code.highcharts.com/modules/data.js"></script>
          <script src="https://code.highcharts.com/modules/accessibility.js"></script>
          <script src="https://code.highcharts.com/highcharts.js"></script> -->
          
          <!-- aos -->
          <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <!-- scripts -->
        <!-- <script src="./asstes/js/script.js"></script>        
        <script src="./asstes/js/chart.js"></script> -->
        
    </body>
</html>