<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZetCount</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
    />

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer2.css">
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    
</head>
    <body style="overflow-x: hidden;">

        <div class="main-container">

            <%- include('nav'); -%>


        <div class="contact-section">
            <div class="contact-content">
                <div class="contact-heading">
                    <p>Contact Us</p>
                </div>
                <div class="contact-header">
                    <div class="whatsapp">
                        <div class="wp-img">
                            <img src="image/whatsapp.svg" alt="">
                        </div>
                        <div class="wp-cont">
                            <p class="cont-head">Whatsapp</p>
                            <p class="cont-p">+91-8986357601</p>
                            <p class="cont-p">+91-7632929451</p>
                            <p class="cont-p">+91-9039081171</p>
                        </div>
                    </div>
                    <div class="email">
                        <div class="email-img">
                            <img src="image/email.svg" alt="">
                        </div>
                        <div class="email-cont">
                            <p class="cont-head">Email</p>
                            <p class="cont-p">helpdesk@thecollegeverse.in</p>
                            <p class="cont-p">apni.academy01@gmail.com</p>
                        </div>
                    </div>
                </div>
                <form class="git-form" method="get">
                    <input type="hidden" name="type" value="get_in_touch">
                    <label for="name" class="form-field">Enter Your Name : </label><br>
                    <input type="text" class="form-input" name="name" id="full-name" required><br>
                    <label for="email" class="form-field">Email Id : </label><br>
                    <input type="email" class="form-input" name="email" id="email" required><br>
                    <label for="ph-number" class="form-field">Phone Number : </label><br>
                    <input type="text" class="form-input" name="ph-number" id="phone-number" required><br>
                    <label for="wa-number" class="form-field">Whatsapp Number : </label><br>
                    <input type="text" class="form-input" name="wa-number" id="whatsapp-number" required><br>
                    <label for="state" class="form-field">State : </label><br>
                    <select name="state" class="form-input" id="state" required>
                        <option value="state">---Select---</option>
                        <% for(var i=0; i<states.length; i++) {%>
                                <option value="1"><%= states[i]%></option>
                         <% } %>
                    </select><br>
                    <label for="message" class="form-field">Message</label><br>
                    <textarea name="message" class="form-input" id="message" required></textarea>
                    <br>
                    <div class="tnc">
                        <input type="checkbox" class="tnc-radio" required>
                        <p style="margin: 0;">I agree all the <a href="#">Terms & Conditions</a>, <a href="#">Privacy Policy</a> & <a href="#">Refund Policy</a>
                        </p>
                    </div>
                    <div class="submit-button d-flex justify-content-center">
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                </form>

            </div>
        </div>

        

<%- include('footer'); -%>


<!-- highcharts -->
<!-- <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script> -->

<!-- aos -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- scripts -->
<!-- <script src="./asstes/js/script.js"></script>        
<script src="./asstes/js/chart.js"></script> -->

</body>
</html>