   <!-- footer -->
   <footer class="ftco-footer ftco-section">
    <div class="container-fluid px-md-5">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
          
            <h2 class="ftco-heading-2" style="color: #43cafe;font-size: xx-large;"  data-aos="fade-up" data-aos-duration="800">ZetCount</h2>
            <p  data-aos="fade-up" data-aos-duration="1000">
              Lorem ipsum dolor sit amet consectetur.
            </p>
            <div class="ah1 footer-social-icon ftco-footer-social" style="display: flex;flex-wrap: nowrap;">
              <a data-aos="fade-up" data-aos-duration="900" href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
              <a data-aos="fade-up" data-aos-duration="1000" href="#"><i class="fab fa-twitter twitter-bg"></i></a>
              <a data-aos="fade-up" data-aos-duration="1100"href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md" >
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2"  data-aos="fade-up" data-aos-duration="700">Pages</h2>
            <ul class="list-unstyled ah1">
              <li data-aos="fade-up" data-aos-duration="800">
                <a href="#"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Home</a
                >
              </li>
              <li data-aos="fade-up" data-aos-duration="900">
                <a href="#"
                  ><img src="image/icons8-right-100.png" width="24px" />About</a
                >
              </li>
              <li  data-aos="fade-up" data-aos-duration="1000">
                <a href="#"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />How to use</a
                >
              </li>
              <li  data-aos="fade-up" data-aos-duration="1100">
                  <a href="#"
                    ><img
                      src="image/icons8-right-100.png"
                      width="24px"
                    />Contact Us</a
                  >
                </li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2" data-aos="fade-up" data-aos-duration="700" >Tools</h2>
            <ul class="list-unstyled ah1">
              <li data-aos="fade-up" data-aos-duration="800">
                  <a href="/Backtest-Portfolio"
                  ><img src="image/icons8-right-100.png" width="24px" />Backtest-Portfolio</a
                >
              </li>
              <li  data-aos="fade-up" data-aos-duration="900">
                <a href="/Factor-Analysis"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Factor-Analysis</a>
              </li>
              <li data-aos="fade-up" data-aos-duration="1000">
                <a href="/Asset-Analytics"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Asset-Analytics</a
                >
              </li> 
              <li data-aos="fade-up" data-aos-duration="1000">
                <a href="/Monte-Carlo-Simulation"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Monte-Carlo-Simulation</a
                >
              </li> 
              <li data-aos="fade-up" data-aos-duration="1000">
                <a href="/Portfolio-Optimization"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Portfolio-Optimization</a
                >
              </li> 
              <li data-aos="fade-up" data-aos-duration="1000">
                <a href="/Timing-Models"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Timing-Models</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2"  data-aos="fade-up" data-aos-duration="700">Policy</h2>
            <ul class="list-unstyled ah1">
              <li data-aos="fade-up" data-aos-duration="800">
                <a href="#"
                  ><img 
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Terms and condition</a
                >
              </li>
              <li  data-aos="fade-up" data-aos-duration="900">
                <a href="#"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Privacy Policy</a
                >
              </li>
              <li  data-aos="fade-up" data-aos-duration="1000">
                <a href="#"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Report</a
                >
              </li>
              <li  data-aos="fade-up" data-aos-duration="1100">
                <a href="#"
                  ><img
                    src="image/icons8-right-100.png"
                    width="24px"
                  />Feedback</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2"  data-aos="fade-up" data-aos-duration="700">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul style="margin: 0;padding: 0;">
                <li class="ah1" data-aos="fade-up" data-aos-duration="800">
                  <a href="#">
                  <img src="image/map-marker-2-64.png" width="24px"></i
                  ><span class="text" style="padding-left: 0.6rem"
                    >Shaitan gali , Khatra mehal , andher nagar , shamshan ke samne</span
                  ></a>
                </li>
                <li class="ah1" data-aos="fade-up" data-aos-duration="900">
                  <a href="tel:987654567"
                    ><img src="image/phone-64.png" width="24px">
                  <span class="text">0987654398</span></a
                  >
                </li>
                <li class="ah1" data-aos="fade-up" data-aos-duration="1000">
                  <a href="mailto:jhgfdxc@gmail.com"
                    ><img src="image/mail-64.png" width="24px">
                    <span class="text">xyz@gmail.com</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <img src="image/istockphoto-1213834501-170667a-removebg-preview__1_-removebg-preview (1).png"> -->
      <div class="row"  data-aos="fade-up" data-aos-duration="1100">
        <div class="col-md-12 text-center">
          <p>
            Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved - Client Name. All Rights Reserved. || Magically Created by <a href=" https://www.thewizards.me" target="_blank">
              <img class="logo-bottom" width="5%" src="image/wiz.webp">The&nbsp;Wizards
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
