            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid navbar-content">
                    <!-- <a class="navbar-brand" href="/">ZetQuant</a> -->
                    <a class="navbar-brand" href="/"><p class="cta-heading" style="color: white; font-size: 24px;">Zet<span style="font-weight: 700; color: #43cafe;">Quant</span></p></a>
                    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon navbar-dark"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/about">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Products
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Backtest-Portfolio">Backtest Portfolio</a></li>
                                <li><a class="dropdown-item" href="/Factor-Analysis">Factor Analysis</a></li>
                                <li><a class="dropdown-item" href="/Asset-Analytics">Asset Analytics</a></li>
                                <li><a class="dropdown-item" href="/Monte-Carlo-Simulation">Monte Carlo Simulation</a></li>
                                <li><a class="dropdown-item" href="/Portfolio-Optimization">Portfolio Optimization</a></li>
                                <li><a class="dropdown-item" href="/Timing-Models">Timing Models</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">How To Use</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/Contact-Us">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/FAQ">FAQs</a>
                            </li>
                        </ul>
                        <form class="d-flex join-nav" role="search" style="align-items: center;">
                            <button class="btn btn-success join-btn" type="button" data-bs-toggle="modal" data-bs-target="#LoginModal">Join Us</button>
                            <a href="/profile"><img src="image/person--circle.svg" alt="" style="padding: 0 1rem;"></a>
                        </form>
                    </div>
                </div>
            </nav>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-htu">
                  <div class="modal-content modal-content-htu">
                    <!-- <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> -->
                    <!-- <div class="modal-body"> -->
                      <!-- <div class="video-section"> -->
                        <!-- <iframe src="https://youtube.com/embed/Dy38f4-ZuxU" class="video-frame" style="width: 100%; height: 100%;"></iframe> -->
                        <iframe src="https://youtube.com/embed/YdK_B0ai11s" class="video-frame" style="width: 100%; height: 100%;"></iframe>
                      <!-- </div> -->
                    <!-- </div> -->
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                  </div>
                </div>
              </div>
  
              <!--Login Modal -->
              <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered login-modal">
                    <div class="modal-content login-modal-content">
                        <div class="modal-header login-modal-header">
                            <div class="alert alert-success" role="alert">
                                Let's learn more about our portfolio management and be a master in using these amazing tools 🤘🏼
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body login-modal-body">
                            <div class="login-signup">
                                <p class="login-title">Login Here!</p>
                                <p class="signup-msg">Don't have an account yet? <a data-bs-toggle="modal" data-bs-target="#SignupModal" style="cursor: pointer; text-decoration: underline; color: blue;">Create one for free !</a></p>
                            </div>
                            <div class="form-img">
                                <div class="login-form">
                                    <form action="">
                                        <input type="text" placeholder="E-mail" class="input-login">
                                        <input type="password" placeholder="Password" class="input-login">
                                    </form>
                                    <div class="login-modal-buttons">
                                        <button type="button" class="login-btn">Login</button>
                                        <button type="button" class="fb-btn"> <img src="image/facebook.svg" alt=""> Login with Facebook</button>
                                        <button type="button" class="google-btn"> <img src="image/google.svg" alt=""> Login with Google</button>
                                        <p class="fgt-pw">Forgot Password?</p>
                                    </div>
                                </div>
                                <div class="login-modal-img">
                                    <img src="image/login-modal.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
  
            <!--Signup Modal -->
            <div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered login-modal">
                    <div class="modal-content login-modal-content">
                        <div class="modal-header login-modal-header">
                            <div class="alert alert-success" role="alert">
                              Let's learn more about our portfolio management and be a master in using these amazing tools 🤘🏼
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body login-modal-body">
                            <div class="login-signup">
                                <p class="login-title">Create your Account</p>
                                <p class="signup-msg">Already have an account? <a data-bs-toggle="modal" data-bs-target="#LoginModal" style="cursor: pointer; text-decoration: underline; color: blue;">Login Here!</a></p>
                            </div>
                            <div class="form-img">
                                <div class="login-form">
                                    <form action="">
                                        <div class="first-last-name">
                                            <input type="text" placeholder="First Name" class="input-login" style="width: 160px;">
                                            <input type="text" placeholder="Last Name" class="input-login" style="width: 160px;">
                                        </div>
                                        <input type="text" placeholder="E-mail" class="input-login">
                                        <input type="password" placeholder="Password" class="input-login">
                                        <input type="password" placeholder="Confirm Password" class="input-login">
                                    </form>
                                    <div class="login-modal-buttons">
                                        <button type="button" class="login-btn">SignUp</button>
                                        <button type="button" class="fb-btn"> <img src="image/facebook.svg" alt=""> SignUp with Facebook</button>
                                        <button type="button" class="google-btn"> <img src="image/google.svg" alt=""> SignUp with Google</button>
                                    </div>
                                </div>
                                <div class="login-modal-img">
                                    <img src="image/login-modal.svg" alt="">
                                    <p class="tnc-txt">*By signing up, you agree to our Terms & conditions, Privacy policy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
