.contact-header{
  width: 700px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem 0;
}

.whatsapp{
  display: flex;
  justify-content: space-between;
  background: #EFF2FC;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 20px;
}

.address{
  /* display: flex;
  justify-content: space-between;
  background: #EFF2FC;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 20px; */
  width: 700px;
}

.wp-img img{
  width: 32px;
  padding: 0.5rem 0;
}

.wp-cont{
  padding: 0 1rem 0 2rem;
  color: black;
}

.cont-head{
  font-size: 24px;
  font-weight: 700;
}

.cont-p{
  margin: 0.3rem;
  font-weight: 600;
}

.email{
  display: flex;
  justify-content: space-between;
  background: #EFF2FC;
  padding: 2rem;
  border-radius: 20px;
}

.email-img img{
  width: 32px;
  padding: 0.5rem 0;
}

.email-cont{
  padding: 0 0.5rem 0 2rem;
  color: black;
}

@media screen and (max-width: 750px){
  .contact-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .whatsapp{
    width: 90%;
    margin: 1rem 0 3rem 0;
  }
  .email{
    width: 90%;
  }
  .address{
    width: 360px;
  }
}


.contact-section {
  padding: 3rem 2rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  font-size: 56px;
  font-weight: 800;
}

.form-field {
  font-size: 20px;
  font-weight: 700;
  padding: 0.5rem 0;
}

.form-input {
  width: 700px;
  height: 50px;
  border: 4px solid #C4C4C4;
  border-radius: 13px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 0.5rem;
}

#message {
  height: 120px;
}

.tnc {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.tnc-radio {
  margin: 0.4rem 0.7rem 0 0;
}

.submit-btn {
  width: 150px;
  height: 40px;
  background-color: #0083FF;
  border-radius: 36px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.t_w_sub{
  padding-left: 8vw;
  padding-bottom: 1vh;
}


.form-input {
  width: 90%;
  height: 50px;
  border: 4px solid #C4C4C4;
  border-radius: 13px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 0.5rem;
}
