body{
    color: black;
}




/* Loggedin User Page */

.user-name button{
    height: 40px;
    border: none;
    background: white;
    font-weight: 700;
  }
  
  .user-img{
    width: 25px;
    margin: 0 0.4rem 8px 0.4rem;
  }
  
  /* Profile Page */
  
  .profile{
    background: #cad3f2;
    margin: 4rem 7rem 0 7rem;
    border-radius: 25px;
  }
  
  .profile-header{
    /* max-width: 600px; */
    margin: auto;
    padding: 2.5rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  
  .personal-info{
    padding: 2rem 3rem;
    font-size: 1.4vw;
    font-weight: 600;
  }
  
  .edit-pro{
    width: fit-content;
    margin: auto;
    padding-bottom: 1rem;
  }
  
  .edit-pro button{
    width: 150px;
    height: 45px;
    border-radius: 40px;
    border: 3px solid #0083FF;
    background: white;
    font-weight: 700;
  }
  
  .edit-pro button:hover{
    background: #0083FF;
    color: white;
    border: none;
  }
  
  .edit-modal-content{
    background: white;
  }
  
  .edit-modal-header{
    color: initial;
    padding: 1rem 2rem;
  }
  
  .edit-modal-title{
    padding: 1rem 0;
  }
  
  .edit-modal-close-btn{
    margin-right: 1rem;
  }
  
  .edit-modal-body{
    padding: 1rem 0 1rem 2rem;
  }
  
  .edit-modal-footer{
    padding: 2rem 0;
  }
  
  .edit-modal-footer button{
    width: 150px;
    height: 45px;
    border-radius: 40px;
    border: 3px solid #0083FF;
    background: white;
    font-weight: 700;
    font-size: 18px;
    color: black;
  }
  
  .edit-modal-footer button:hover{
    background: #0083FF;
    color: white;
    border: none;
  }
  
  .purchased-section{
    padding: 2rem 5.5rem;
  }
  
  .plans-head{
    text-align: center;
    font-size: 1.7vw;
    font-weight: 700;
    /* padding: 0 0 2rem 0; */
  }
  
  .counseling-plan{
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    font-weight: 600;
  }
  
  .partition-line{
    width: 70%;
    color: #0784b5;
    border-radius: 100px;
    border: none;
    height: 6px;
    background-color: #0784b5;
  }
  
  .college-wishlist{
    padding: 2rem 4.5rem;
  }
  
  .wishlist-head{
    text-align: center;
    font-size: 1.7vw;
    font-weight: 700;
    padding: 0 0 2rem 0;
  }
  
  .stu-info{
    max-width: 600px;
    margin: auto;
    font-size: 1.3vw;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }
  
  .stu-info-last{
    padding-bottom: 2rem;
  }
  
  .clg-list{
    max-width: 600px;
    margin: auto;
  }
  
  .clg-name{
    display: flex;
    justify-content: space-between;
  }
  
  .clg-name p{
    font-size: 1.5vw;
    font-weight: 600;
  }
  
  .clg-name img{
    width: 20px;
    height: 18px;
  }
  
  .add-clg-btn button{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid #0083FF;
    background: white;
    font-weight: 700;
  }
  
  .test-results{
    padding: 2rem 4.5rem;
  }
  
  .results-head{
    text-align: center;
    font-size: 1.7vw;
    font-weight: 700;
    padding: 0 0 2rem 0;
  }
  
  .tests-list{
    max-width: 600px;
    margin: auto;
  }
  
  .test-given{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .test-given p{
    font-size: 1.5vw;
    font-weight: 600;
  }
  
  .test-given button{
    background: #0083FF;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 15px;
    color: white;
  }
  
  .profile-pic img{
    width: 9vw;
  }
  
  @media screen and (max-width: 1100px) {
    .profile{
      margin: 4rem 2rem 0 2rem;
    }
   
  .personal-info {
    
    font-size: 1.5vw;
   }
   .purchased-section {
     padding: 2rem 0;
    margin: 0 1rem;
   }
   .profile-header .profile-pic img{
     width: 9vw;
   }
   .plans-head {
    font-size: 1.5vw;
  }
  .counseling-plan {
    font-size: 1.5vw;
  }
  .wishlist-head {
    font-size: 1.5vw;
  }
  .stu-info {
    font-size: 1.5vw;
  }
  .clg-name p {
    font-size: 1.5vw;
  }
  .clg-name img {
    width: 1.5vw;
    height: 3vh;
  }
  .add-clg-btn button {
    font-size: 1.5vw;
    width: 17vw;
    height: 40px;
    }
    .results-head {
      font-size: 1.5vw;
    }
    .test-given p {
      font-size: 1.5vw;
    }
    .test-given button {
      width: 17vw;
      font-size: 1.5vw;
    }
  }
  
  
  @media screen and (max-width: 500px) {
    .profile{
      margin: 4rem 1rem 0 1rem;
    }
    .college-wishlist {
      padding: 1rem 1.5rem;
  }
  .personal-info {
    padding: 2rem 1rem;
    font-size: 2.5vw;
   }
   .purchased-section {
     padding: 2rem 0;
    margin: 0 1rem;
   }
   .profile-header .profile-pic img{
     width: 16vw;
   }
   .plans-head {
    font-size: 2.5vw;
  }
  .counseling-plan {
    font-size: 2.5vw;
  }
  .wishlist-head {
    font-size: 2.5vw;
  }
  .stu-info {
    font-size: 2.5vw;
  }
  .clg-name p {
    font-size: 2.5vw;
  }
  .clg-name img {
    width: 1.5vw;
    height: 3vh;
  }
  .add-clg-btn button {
    font-size: 2.5vw;
    width: 17vw;
    height: 40px;
    }
    .results-head {
      font-size: 2.5vw;
    }
    .test-given p {
      font-size: 2.5vw;
    }
    .test-given button {
      width: 17vw;
      font-size: 2.5vw;
    }
  }
  
  @media screen and (max-width: 420px) {
    .form-field-ep{
      font-size: 16px;
    }
    .form-input-ep{
      font-size: 16px;
      width: 270px;
    }
  }
  
  .filter-dropdown{
    display: flex !important;
    justify-content: center;
  }
  .filter-dropdown button{
    background-color: black;
    border-radius: 30px;
    font-size: 1.6vw;
  }
  @media screen and (max-width: 500px) {
    .dropdown-menu a{
      font-size: 12px !important;
    }
    .dropdown-menu{
      height: 550px !important;
    }
  }

  .ftco-section{
    padding: 10rem 0;
  }

  .table_port{
    /* border: 2px solid black; */
    font-size: 18px;
  }
  .table_port_content{
    /* border: 2px solid black; */
    padding: 0.5rem 0;
  }
  .table_head{
    text-align: center;
    font-size: 22px;
  }
  .table_desc{
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .main-container{
    padding: 0%;
  }

  @media screen and (max-width: 768px){
    .table_port{
      font-size: 12px;
    }
    .table_head{
      font-size: 16px;
    }
  }
  @media screen and (max-width: 470px){
    .table_port{
      font-size: 9px;
    }
    .table_head{
      font-size: 12px;
    }
  }